In [ ]:
# Exercise 1: Create a Jupyter Notebook
# Create a new Jupyter notebook called DataScienceEcosystem.ipynb

In [ ]:
# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [ ]:
# Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
# Exercise 4 - Create a markdown cell to list data science languages

## Some of the popular languages that Data Scientists use are:

1. R
2. SQL
3. Python

In [ ]:
# Exercise 5 - Create a markdown cell to list data science libraries

## Some of the commonly used libraries used by Data Scientists include:

1. ggplot
2. Pandas
3. NumPy

In [ ]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|JupyterLabs|
|Python|
|SQL|

In [ ]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*2)+27

33

In [ ]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [ ]:
# Exercise 10 - Insert a markdown cell to list Objectives

**Objectives**

#### List popular languages for Data Science:
1. R
2. SQL
3. Python

In [ ]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Sa√∫l Vidal

In [ ]:
# Exercise 12 - Share your notebook through GitHub

In [ ]:
# Exercise 13 -Take a screenshot of the first page of the notebook and save it